<%= form_with(model: canal, local: true) do |form| %>
  <% if canal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(canal.errors.count, "error") %> prohibited this canal from being saved:</h2>

      <ul>
      <% canal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
